<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/task_component.css">
    <title></title>
  </head>
  <body>
    <div id="task-component">
      <div id="header">
        <header-system-name></header-system-name>
        <header-select-account v-bind:users="users" v-on:adduser="addUser"></header-select-account>
      </div>

      <div id="content">
        <content-login-message v-show="!isUserSelected"></content-login-message>
        <content-sub-content title="Content A" v-show="user.contentA"></content-sub-content>
        <content-sub-content title="Content B" v-show="user.contentB"></content-sub-content>
        <content-sub-content title="Content C" v-show="user.contentC"></content-sub-content>
      </div>
      <task-system-footer></task-system-footer>
    </div>

    <div id="footer">
      <footer-copyright></footer-copyright>
    </div>
  </body>
</html>

<script>
  Vue.component('header-system-name', {
    template: '<div id="system-name">Task Vue Component</div>'
  })

  Vue.component('header-select-account', {
    data: function () {
      return {
        selected: ''
      }
    },
    props: {
      users: {
        type: Array
      },
    },
    methods: {
      changeUser: function () {
        this.$emit('adduser', this.selected)
      }
    },
    template: `
    <div id="select-account">
      アカウント：
      <select v-model="selected">
        <option v-for="user in users" v-bind:key="user.userId">
          {{ user.name }}
        </option>
      </select>
      <button v-on:click="changeUser">変更する</button>
    </div>
    `
  })

  Vue.component('content-login-message', {
    template: '<div>アカウントを選択してください</div>'
  })

  Vue.component('content-sub-content', {
    props: {
      title: String
    },
    template: '<div class="sub-content">{{ title }}</div>'
  })

  new Vue({
    el: "#task-component",
    data: {
      users: [
        {
          userId: 1234,
          name: 'ダミーユーザーA',
          contentA: true,
          contentB: true,
          contentC: true,
        },
        {
          userId: 5678,
          name: 'ダミーユーザーB',
          contentA: true,
          contentB: false,
          contentC: true,
        },
        {
          userId: 9999,
          name: 'ダミーユーザーC',
          contentA: false,
          contentB: false,
          contentC: false,
        },
      ],
      user: {},
      isUserSelected: false,
    },
    methods: {
      addUser: function (userName) {
        var selectedUser = this.users.find(user => user.name === userName)
        if (selectedUser != undefined) {
          this.user = {
            name: userName,
            contentA: selectedUser.contentA,
            contentB: selectedUser.contentB,
            contentC: selectedUser.contentC,
          }
          this.isUserSelected = true
        } else {
          this.isUserSelected = false
        }
      }
    }
  })

  Vue.component('footer-copyright', {
    template: `
    <span>
      Copyright © 2022 Connect co., ltd. All rights reserved.
    </span>
    `
  })

  new Vue({
    el: "#footer"
  })

</script>
